.button {
  border-width: 4px;
  border-color: darkolivegreen;
  border-radius: 30%;
  color: rgb(255, 255, 255);
  background-color: darkcyan;
  padding: 8px 8px;
  text-align: center;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
}

.left_pane_block_header {
  color: dimgray;
}

button.create {
  background-color: #008f53;
  width: 200px;
}

button.destroy {
  background-color: #ff1f1f;
}

.counter {
  color: #008f53;
  font-size: 48px;
  text-align: center;
}

.panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.left_pane {
  margin-right: 20px;
  max-width: 250px;
}

.right_pane {
  min-width: 50px;
  margin-left: 20px;
  justify-content: left;
  border: #008f53 4px;
}